@import "../../responsive.scss";

.ourProperties {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  
    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
  
    .mainSection {
      display: flex;
      gap: 20px;
      height: 500px; 

      @include sm {
        height: auto;
        flex-direction: column;
      }
      
      .left {
        flex: 2;

        @include md {
            flex: 1.3;
        }

        @include sm {
            flex: 1.8;
            height: 400px;
        }
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;
        }
      }
  
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include md {
            flex: 1.7;
        }

        @include sm {
            flex: 2;
            height: 400px;
        }
  
        .topRow {
          display: flex;
          gap: 20px;
          height: 50%;

          @include sm {
            img:nth-of-type(2) {
              height: 278.85px;
            }
          }
  
          img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
          }
        }
  
        .bottomRow {
          height: 50%;
  
          img {
            width: 105%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
          }
        }
      }
    }
  }
  